.App{
  background-image: url(../public/images/glassesImage/background.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-body-tertiary{
  background-color: transparent !important;
}

.bg{
  background-color: rgba(0, 0, 0, 0.5);
}
.right{
  position: relative;
}
.left{
  position: relative;
}
.glass-left{
  position: absolute;
  width: 165px;
  left: 75px;
  top: 90px;
}
.glass-right{
  position: absolute;
  width: 165px;
  left: 75px;
  top: 90px;
}
.desc{
  position: absolute;
  left: 10px;
  bottom: 0px;
  background-color: rgba(255, 128, 25, 0.5);
  padding: 10px 14px;
}
.desc p{
  margin-bottom: 0;
}